[include timelapse.cfg]
[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/addons/blobifier.cfg]
[include mmu/addons/mmu_erec_cutter.cfg]
[include ./KAMP_LiTE/*.cfg]
[force_move]
enable_force_move: True
# See docs/Config_Reference.md for a description of parameters.
[include stealthburner_leds.cfg]
#[include eddy-ng.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include toolhead.cfg]
[exclude_object]
[pause_resume]
[gcode_arcs]                       
resolution: 1.0        
[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 20000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

#####################################################################
##                          MCU
#####################################################################

[mcu CB2]
serial: /tmp/klipper_host_mcu

[mcu EBBCan]
canbus_uuid: 695b4496fc45


[mcu]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 5608b16fd7c3

#[temperature_sensor CB2]                # BTT-PI temperature sensor configuration
#sensor_type: temperature_host           # Sensor type

[mcu pico]
serial: /dev/serial/by-id/usb-Klipper_rp2040_F534B717375B4C53-if00 #serial: /dev/ttyACM0


#####################################################################
##                          stepper's
#####################################################################

# Motor1
[stepper_x]
step_pin: PE6                         # X-axis motor pulse pin setting
dir_pin: PE5                         # X-axis motor direction pin setting
enable_pin: !PC14                     # X-axis motor enable pin setting
microsteps: 16                     # Motor microsteps setting
rotation_distance: 40                 # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
full_steps_per_rotation: 200          # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
endstop_pin: tmc5160_stepper_x:virtual_endstop           # Limit switch PIN setting (X-)
position_min: 0                       # X-axis minimum travel - software limit
position_endstop: 350                 # Mechanical reset point coordinates for X-axis
position_max: 350                     # X-axis maximum travel - software limit
homing_speed: 150                    # Homing speed maximum 100
homing_retract_dist: 0                # Setback distance after the first trigger of the homing switch
homing_positive_dir: true             # Direction of homing (generally no change required)
############TMC##############
[tmc5160 stepper_x]
cs_pin: PC13                          # Chip select pin
spi_software_sclk_pin: PG8
spi_software_mosi_pin: PG6
spi_software_miso_pin: PG7          # SPI master in slave out pin
driver_TPFD: 0                        # Driver setting
run_current: 1.0                     # Running current
spi_speed: 3500000                    # SPI speed
interpolate: True                     # Interpolation
diag1_pin: ^!PF4 # use the same pin that was previously the endstop_pin! 
driver_SGT: 4 # -64 is most sensitive value, 63 is least sensitive

# Motor2
[stepper_y]
step_pin: PE2                         # Y1-axis motor pulse pin setting
dir_pin: PE1                         # Y1-axis motor direction pin setting
enable_pin: !PE4                      # Y1-axis motor enable pin setting
microsteps: 16                       # Motor microsteps setting
rotation_distance: 40                 # Active pulley circumference mm (2GT-20T pulley 40, 2GT-16T pulley 32)
full_steps_per_rotation: 200          # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
endstop_pin: tmc5160_stepper_y: virtual_endstop
position_endstop: 350 
position_max: 350                      # X-axis maximum travel - software limit
position_min: -3
homing_speed: 150                     # Homing speed maximum 100
homing_retract_dist: 0                # Setback distance after the first trigger of the homing switch
homing_positive_dir: true    
############TMC##############
[tmc5160 stepper_y]
cs_pin: PE3                           # Chip select pin
spi_software_sclk_pin: PG8            # SPI clock pin
spi_software_mosi_pin: PG6            # SPI master out slave in pin
spi_software_miso_pin: PG7            # SPI master in slave out pin
driver_TPFD: 0                        # Driver setting
run_current: 1.1                     # Running current
spi_speed: 3500000                    # SPI speed
interpolate: True                     # Interpolation
diag1_pin: ^!PF3 # use the same pin that was previously the endstop_pin! 
driver_SGT: -3  # -64 is most sensitive value, 63 is least sensitive

# Motor3
[stepper_z]
step_pin: PB8                         # Z0-axis motor pulse pin setting
dir_pin: !PB7                         # Z0-axis motor direction pin setting
enable_pin: !PE0                      # Z0-axis motor enable pin setting
microsteps: 16                        # Motor microsteps setting
gear_ratio: 80:12
rotation_distance: 40                  # Active pulley circumference mm
endstop_pin: ^PF2          #^PF2 #probe:z_virtual_endstop  # Limit switch PIN setting (Z0-)
position_endstop: 0
position_max: 347                    # Z0-axis maximum travel - software limit
position_min: -10.0                    # Z0-axis minimum travel - software limit
homing_speed: 20                      # Homing speed
homing_retract_dist: 5           # Setback distance after the first trigger of the homing switch
homing_retract_speed: 15.0
homing_positive_dir: False   # Direction of homing (generally no change required)
second_homing_speed: 10.0
#position_endstop: 0 #commit out
#--------------------------------------------------------------------
[tmc2209 stepper_z]                   # TMC2209 driver settings
uart_pin: PB9                         # Driver communication port
interpolate: true                     # Enable 256 microstep interpolation
run_current: 0.650                     # Motor running current (mA)
hold_current: 0.58                      # Holding current (mA)

# Motor4
[stepper_z1]
step_pin: PB4                         # Z1-axis motor pulse pin setting
dir_pin: PB3                         # Z1-axis motor direction pin setting
enable_pin: !PB6                      # Z1-axis motor enable pin setting
microsteps: 16                        # Motor microsteps setting
gear_ratio: 80:12
rotation_distance: 40                  # Active pulley circumference mm
#--------------------------------------------------------------------
[tmc2209 stepper_z1]                  # TMC2209 driver settings
uart_pin: PB5                         # Driver communication port
interpolate: true                     # Enable 256 microstep interpolation
run_current: 0.650                      # Motor running current (mA)
hold_current: 0.58                      # Holding current (mA)


# Motor5
[stepper_z2]
step_pin: PG13                        # Z2-axis motor pulse pin setting
dir_pin: !PG12                        # Z2-axis motor direction pin setting
enable_pin: !PG15                     # Z2-axis motor enable pin setting
microsteps: 16                        # Motor microsteps setting
gear_ratio: 80:12
rotation_distance: 40                  # Active pulley circumference mm
#--------------------------------------------------------------------
[tmc2209 stepper_z2]                  # TMC2209 driver settings
uart_pin: PG14                        # Driver communication port
interpolate: true                     # Enable 256 microstep interpolation
run_current: 0.650                 # Motor running current (mA)
hold_current: 0.58                      # Holding current (mA)


# Motor6
[stepper_z3]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11                      # Z2-axis motor enable pin setting
microsteps: 16                        # Motor microsteps setting
gear_ratio: 80:12
rotation_distance: 40                  # Active pulley circumference mm
#--------------------------------------------------------------------
[tmc2209 stepper_z3]
uart_pin: PG10
interpolate: true                     # Enable 256 microstep interpolation
run_current: 0.650                      # Motor running current (mA)
hold_current: 0.58                      # Holding current (mA)


[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
rotation_distance: 22.5655
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
#sensor_type: MAX31865
#sensor_pin: EBBCan:gpio27
#control: pid
#pid_Kp: 28.897 #pid_Kp: 21.527
#pid_Ki: 6.215 #pid_Ki: 1.063
#pid_Kd: 33.592 #pid_Kd: 108.982
min_temp: 0
max_temp: 310

sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.650
stealthchop_threshold: 999999

#[extruder]
#step_pin: EBBCan: PD0
#dir_pin: !EBBCan: PD1
#enable_pin: !EBBCan: PD2
#microsteps: 16
#full_steps_per_rotation: 200
#gear_ratio: 5:1
#rotation_distance: 22.67895
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: EBBCan: PB13
##control: pid
##pid_Kp: 21.527
##pid_Ki: 1.063
##pid_Kd: 108.982
#min_temp: -50
#max_temp: 300
#max_extrude_only_velocity: 30
#max_extrude_cross_section: 15
#max_extrude_only_distance: 200.0
#max_extrude_only_accel: 100.0
#sensor_type:MAX31865
#sensor_pin: EBBCan: PA4
#spi_bus: spi1
#rtd_nominal_r: 100
#rtd_reference_r: 430
#rtd_num_of_wires: 2
#pressure_advance:  0.04178 #0.0211 #elegoo pla+

#[tmc2209 extruder]
#uart_pin: EBBCan: PA15
#run_current: 0.650
#stealthchop_threshold: 999999

[heater_bed]
heater_pin: PA0
sensor_pin: PB1 # TB  
sensor_type: ATC Semitec 104GT-2 
#control: watermark
min_temp: 0
max_temp: 130

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 


#####################################################################
##                          Fan's
#####################################################################

# Fan3
[controller_fan Stepper_fan]
pin: PF8
max_power: 1.0
kick_start_time: 0.5
cycle_time: 0.02
fan_speed: 1
idle_timeout: 300
heater: extruder, heater_bed
stepper: stepper_x, stepper_y

[temperature_fan MCU_fan]
pin: PF6 #CB2: gpiochip0/gpio19
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 90
#hardware_pwm: true
target_temp: 40
sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
max_speed: 1.0
min_speed: 0.15
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

#[heater_fan hotend_fan]      
#pin: EBBCan:PA0   
#max_power: 1.0               
#kick_start_time: 0.5         
#heater: extruder             
#heater_temp: 50              

#[fan]
#pin: EBBCan:PA1  
#

#####################################################################
##                          Tempature
#####################################################################

#[temperature_sensor EBBCan]
#sensor_type: temperature_mcu
#sensor_mcu: EBBCan
#min_temp: 0
#max_temp: 100



[temperature_sensor Chamber_T_&_RH]
sensor_type: AHT10
i2c_mcu: pico
# PIN SELECTIONS
i2c_software_scl_pin: pico: gpio27
i2c_software_sda_pin: pico: gpio26
#
# BUS ADDRESS SELECTION
i2c_address: 56
#   Default is 56 (0x38). Some AHT10 sensors give the option to use
#   57 (0x39) by moving a resistor.                       
#
# SAMPLING INTERVAL
aht10_report_time: 5
#   Interval in seconds between readings. Default is 30, minimum is 5



#####################################################################
##                          Idle Timeout for Heated Bed
#####################################################################

[idle_timeout]
timeout: 1800                # Turn off heated bed if idle for more than 30 minutes


############################################
#  Chamber LED
###########################################

## Chamber Lighting - HE1 Connector (24V)
[output_pin caselight]
pin: PA1
pwm: true
shutdown_value: 0
value: 0.25                             #the brightness at startup (0-1)
cycle_time: 0.009
#cycle_time: 0.02506 # 39.9Hz
#############################################

[resonance_tester]
accel_chip: adxl345
probe_points: 175,175,20

#[adxl345]
#cs_pin: EBBCan:PB12
#spi_software_sclk_pin: EBBCan:PB10
#spi_software_mosi_pin: EBBCan:PB11
#spi_software_miso_pin: EBBCan:PB2
#axes_map: x,y,z

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.742
#*# pid_ki = 1.147
#*# pid_kd = 1090.305
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.303
#*# pid_ki = 6.302
#*# pid_kd = 34.064
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 51.4
#*# shaper_type_y = mzv
#*# shaper_freq_y = 36.2
#*#
